body {
  background-color: darkgray;
  margin:3%  
}

.exp-header{
  border-top: 5px solid black;
  text-align: center;
  border-bottom: 1px solid black;
}

h1{
  color: brown;
  font-size: 25px;
  font-family: arial, sans-serif;
}

img{
  width: 160px; 
  padding-left: 490px; 
  float: right;
  padding-left: 15px;
  transform: rotate(-10deg);
}

h1, h3, h4 {
  text-shadow: 1px 2px yellow;
}

.header{
  padding-left: 10px;
}

h3{
  color: brown;
  padding-left: 10px;
  text-align: center;
  }

p, li{
  color: purple;
  font family: arial, helvetica;
  padding-left: 10px;
}

div {
  box-shadow: 10px 10px 5px lightblue;
}

h5{
  color: purple;
  padding-left: 10px
}

h6{
  color: purple;
  padding-left: 10px 
}

  background-color: lightgray;
}

