body {
  background-color: darkgray;
}

h1{
  color: blue;
  font-size: 25px;
  font-family: arial, sans-serif;
}

img{
  width: 140px; 
  padding-left: 490px; 
  float: right;
  padding-left: 15px;
}

.header{
  background-color: lightgray;
  padding-left: 10px;
  border: 1px solid Yellow;
 
}

h3{
  color: brown;
  padding-left: 10px;
}

div {
  border: 1px solid yellow;
  padding-left: 10px;
}

h1{
  border: 1px solid black;
  padding-left: 10px;
}

p, li{
  color: purple;
  font family: arial, helvetica;
  padding-left: 10px;
}

h5{
  color: purple;
  padding-left: 10px
}

h6{
  color: purple;
  padding-left: 10px
}
